apiVersion: v1
kind: Service
metadata:
  name: hub-frontend-demo-svc
  namespace: {{ .Release.Namespace }}
  labels:
    app: hub-frontend-demo-svc
spec:
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    name: http
  selector:
    app: hub-frontend-demo
{{ if ne .Values.ingress "" }}
---
{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
apiVersion: networking.k8s.io/v1
{{ else }}
apiVersion: networking.k8s.io/v1beta1
{{ end }}
kind: Ingress
metadata:
  name: hub-frontend-demo-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- if eq .Values.ingress "nginx" }}
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress }}
  {{- with .Values.kerberoshub.frontend.demoTls }}
  tls:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
  rules:
    - host: "{{ .Values.kerberoshub.frontend.demoUrl }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: hub-frontend-demo-svc
              port:
                number: 80
  {{ else }}
  rules:
    - host: "{{ .Values.kerberoshub.frontend.demoUrl }}"
      http:
        paths:
          - path: /
            backend:
              serviceName: hub-frontend-demo-svc
              servicePort: 80
  {{ end }}
{{ end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-frontend-demo
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberoshub.frontend.replicas }}
  selector:
    matchLabels:
      app: hub-frontend-demo
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: hub-frontend-demo
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kerberoshub.frontend.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: hub-frontend-demo
        image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberoshub.frontend.repository }}:{{ .Values.kerberoshub.frontend.tag }}"
        imagePullPolicy: {{ .Values.kerberoshub.frontend.pullPolicy }}
        {{- with .Values.kerberoshub.frontend.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        ports:
        - containerPort: 80
          name: http
        {{- with .Values.kerberoshub.frontend.volumeMounts}}
        volumeMounts:
          {{- toYaml . | nindent 8 }}
        {{- end }}
        env:
        - name: SSO_DOMAIN
          value: "{{ .Values.kerberoshub.frontend.ssoDomain }}"
        - name: TITLE
          value: "{{ .Values.kerberoshub.frontend.title }}"
        - name: LOGO_NAME
          value: "{{ .Values.kerberoshub.frontend.logo }}"
        - name: ENVIRONMENT
          value: "demo"
        - name: API_URL
          value: "" # legacy
        - name: NEW_API_URL
          value: "{{ .Values.kerberoshub.api.schema }}://{{ .Values.kerberoshub.api.url }}"
        {{ if .Values.isPrivate }}
        - name: PRIVATE_EDITION
          value: "true"
        {{ else }}
        - name: PRIVATE_EDITION
          value: "false"
        {{ end }}
        - name: PRODUCTION
          value: "true"
        - name: DEMO
          value: "true"

        # Mqtt (VERNEMQ)
        - name: MQTT_PROTOCOL
          value: "{{ .Values.mqtt.protocol }}"
        - name: MQTT_SERVER
          value: "{{ .Values.mqtt.host }}"
        - name: MQTT_PORT
          value: "{{ .Values.mqtt.port }}"
        - name: MQTT_USERNAME
          value: "{{ .Values.mqtt.username }}"
        - name: MQTT_PASSWORD
          value: "{{ .Values.mqtt.password }}"

        # Turn (Pion)
        - name: TURN_SERVER
          value: "{{ .Values.turn.host }}"
        - name: TURN_USERNAME
          value: "{{ .Values.turn.username }}"
        - name: TURN_PASSWORD
          value: "{{ .Values.turn.password }}"

        # Mixpanel for monitoring
        - name: MIXPANEL_KEY
          value: "{{ .Values.kerberoshub.frontend.mixpanel.apikey }}"

        # Sentry for fetching client side issues.
        - name: SENTRY_URL
          value: "{{ .Values.kerberoshub.frontend.sentry.url }}"

        # PostHog credentials
        - name: POSTHOG_KEY
          value: "{{ .Values.kerberoshub.frontend.posthog.key }}"
        - name: POSTHOG_URL
          value: "{{ .Values.kerberoshub.frontend.posthog.url }}"

        # Stripe for billing
        - name: STRIPE_KEY
          value: "{{ .Values.kerberoshub.frontend.stripe.publicKey }}"

        # Google maps for using and displaying cameras, sites on a map
        - name: GOOGLEMAPS_KEY
          value: "{{ .Values.kerberoshub.frontend.googlemaps.apikey }}"

        # Zendesk for support
        - name: ZENDESK_URL
          value: "{{ .Values.kerberoshub.frontend.zendesk.url }}"

        # Titles and descriptions on pages
        - name: LOGIN_DESCRIPTION
          value: "{{ .Values.kerberoshub.frontend.loginDescription }}"
        - name: LOGIN_COPYRIGHT
          value: "{{ .Values.kerberoshub.frontend.loginCopyright }}"
        - name: PAGE_DASHBOARD_TITLE
          value: "{{ .Values.kerberoshub.frontend.dashboardTitle }}"
        - name: PAGE_DASHBOARD_SUB_TITLE
          value: "{{ .Values.kerberoshub.frontend.dashboardSubTitle }}"
        - name: PAGE_LATESTEVENTS_TITLE
          value: "{{ .Values.kerberoshub.frontend.latestEventsTitle }}"
        - name: PAGE_LATESTEVENTS_SUB_TITLE
          value: "{{ .Values.kerberoshub.frontend.latestEventsSubTitle }}"
        - name: PAGE_LIVESTREAM_TITLE
          value: "{{ .Values.kerberoshub.frontend.livestreamTitle }}"
        - name: PAGE_LIVESTREAM_SUB_TITLE
          value: "{{ .Values.kerberoshub.frontend.livestreamSubTitle }}"
        - name: PAGE_MEDIA_TITLE
          value: "{{ .Values.kerberoshub.frontend.mediaTitle }}"
        - name: PAGE_MEDIA_SUB_TITLE
          value: "{{ .Values.kerberoshub.frontend.mediaSubTitle }}"
        - name: PAGE_DASHBOARD_CPU_USAGE
          value: "{{ .Values.kerberoshub.frontend.cpuUsageDescription }}"
        - name: PAGE_DASHBOARD_FPS
          value: "{{ .Values.kerberoshub.frontend.framesPerSecondDescription }}"
        - name: PAGE_DASHBOARD_MLA
          value: "{{ .Values.kerberoshub.frontend.mlaUtilizationDescription }}"
        - name: PAGE_DASHBOARD_OBJECTS
          value: "{{ .Values.kerberoshub.frontend.objectsDetectedDescription }}"
        - name: HIDE_ADD_AGENT
          value: "{{ .Values.kerberoshub.frontend.hideAddAgent }}"

        # Navigation links
        - name: NAVIGATION_LINK_TITLE_1
          value: "{{ .Values.kerberoshub.frontend.navigationLinkTitle1 }}"
        - name: NAVIGATION_LINK_URL_1
          value: "{{ .Values.kerberoshub.frontend.navigationLinkUrl1 }}"
        - name: NAVIGATION_LINK_TITLE_2
          value: "{{ .Values.kerberoshub.frontend.navigationLinkTitle2 }}"
        - name: NAVIGATION_LINK_URL_2
          value: "{{ .Values.kerberoshub.frontend.navigationLinkUrl2 }}"
        - name: NAVIGATION_LINK_TITLE_3
          value: "{{ .Values.kerberoshub.frontend.navigationLinkTitle3 }}"
        - name: NAVIGATION_LINK_URL_3
          value: "{{ .Values.kerberoshub.frontend.navigationLinkUrl3 }}"
        - name: NAVIGATION_LINK_TITLE_4
          value: "{{ .Values.kerberoshub.frontend.navigationLinkTitle4 }}"
        - name: NAVIGATION_LINK_URL_4
          value: "{{ .Values.kerberoshub.frontend.navigationLinkUrl4 }}"
        - name: NAVIGATION_LINK_TITLE_5
          value: "{{ .Values.kerberoshub.frontend.navigationLinkTitle5 }}"
        - name: NAVIGATION_LINK_URL_5
          value: "{{ .Values.kerberoshub.frontend.navigationLinkUrl5 }}"
        - name: CASE_FILTER_ASSIGNEES_DEFAULT
          value: "{{ .Values.kerberoshub.frontend.caseFilterAssigneesDefault }}"
        - name: COLOR_DEVICE_ACTIVE
          value: "{{ .Values.kerberoshub.frontend.colorDeviceActive }}"
        - name: COLOR_DEVICE_INACTIVE
          value: "{{ .Values.kerberoshub.frontend.colorDeviceInactive }}"
        - name: COLOR_DEVICE_IDLE
          value: "{{ .Values.kerberoshub.frontend.colorDeviceIdle }}"
        - name: COLOR_DEVICE_MOTION
          value: "{{ .Values.kerberoshub.frontend.colorDeviceMotion }}"
        - name: COLOR_LIVE_VIEW_CONTROL_ACTIVE
          value: "{{ .Values.kerberoshub.frontend.colorLiveViewControlActive }}"
        - name: COLOR_LIVE_VIEW_CONTROL_MOTION
          value: "{{ .Values.kerberoshub.frontend.colorLiveViewControlMotion }}"
        - name: COLOR_FLOOR_PLAN_LABEL_TEXT
          value: "{{ .Values.kerberoshub.frontend.colorFloorPlanLabelText }}"
        - name: COLOR_FLOOR_PLAN_LABEL_BACKGROUND
          value: "{{ .Values.kerberoshub.frontend.colorFloorPlanLabelBackground }}"
        - name: COLOR_DEVICE_MARKER_BORDER
          value: "{{ .Values.kerberoshub.frontend.colorDeviceMarkerBorder }}"

        # features > floorplan
        - name: FEATURE_FLOORPLAN_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.floorplan.enabled }}"      
        - name: COLOR_TRACK_BOX
          value: "{{ .Values.kerberoshub.frontend.features.floorplan.colorTrackBox }}"
        - name: COLOR_TRACK_BOX_HOVER
          value: "{{ .Values.kerberoshub.frontend.features.floorplan.colorTrackBoxHover }}"
        - name: COLOR_TRACK_BOX_DRAWING
          value: "{{ .Values.kerberoshub.frontend.features.floorplan.colorTrackBoxDrawing }}"
        - name: COLOR_TRACK_BOX_CONTROLS_DELETE
          value: "{{ .Values.kerberoshub.frontend.features.floorplan.colorTrackBoxControlsDelete }}"

        # features > face redaction 
        - name: FEATURE_FACE_REDACTION_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.faceRedaction.enabled }}" 
        
        # features > media
        - name: FEATURE_MEDIA_FILTER_DATE_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.date.enabled }}"
        - name: FEATURE_MEDIA_FILTER_SITES_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.sites.enabled }}"
        - name: FEATURE_MEDIA_FILTER_GROUPS_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.groups.enabled }}"
        - name: FEATURE_MEDIA_FILTER_DEVICES_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.devices.enabled }}"
        - name: FEATURE_MEDIA_FILTER_OBJECT_DETECTION_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.objectDetection.enabled }}"
        - name: FEATURE_MEDIA_FILTER_STAR_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.star.enabled }}"
        - name: FEATURE_MEDIA_FILTER_REGION_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.region.enabled }}"
        - name: FEATURE_MEDIA_FILTER_SORT_ENABLED
          value: "{{ .Values.kerberoshub.frontend.features.media.filter.sort.enabled }}"

        - name: MARKERS_NAME
          value: "{{ .Values.kerberoshub.frontend.markersName }}"
        - name: EVENTS_NAME
          value: "{{ .Values.kerberoshub.frontend.eventsName }}"
        - name: FLOOR_PLAN_NAME
          value: "{{ .Values.kerberoshub.frontend.floorPlanName }}"
        - name: SITES_NAME
          value: "{{ .Values.kerberoshub.frontend.sitesName }}"
        - name: SITES_DESCRIPTION
          value: "{{ .Values.kerberoshub.frontend.sitesDescription }}"
        - name: GROUPS_NAME
          value: "{{ .Values.kerberoshub.frontend.groupsName }}"
        - name: GROUPS_DESCRIPTION
          value: "{{ .Values.kerberoshub.frontend.groupsDescription }}"
        - name: SITE_GROUP_NAME
          value: "{{ .Values.kerberoshub.frontend.siteGroupName }}"
        - name: SITE_GROUP_DESCRIPTION
          value: "{{ .Values.kerberoshub.frontend.siteGroupDescription }}"
        - name: DEVICE_GROUP_NAME
          value: "{{ .Values.kerberoshub.frontend.deviceGroupName }}"
        - name: DEVICE_GROUP_DESCRIPTION
          value: "{{ .Values.kerberoshub.frontend.deviceGroupDescription }}"
        
        {{- if .Values.kerberoshub.extraEnv }}
        {{- toYaml .Values.kerberoshub.extraEnv | nindent 8 }}
        {{- end }}
