apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-reactivate-subscription
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hub-reactivate-subscription
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-mongodb.yaml") . | sha256sum }}
      labels:
        app: hub-reactivate-subscription
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-reactivate-subscription
          image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberoshub.reactivate.repository }}:{{ .Values.kerberoshub.reactivate.tag }}"
          imagePullPolicy: {{ .Values.kerberoshub.reactivate.pullPolicy }}
          envFrom:
            - configMapRef:
                name: mongodb-config
          env:
            - name: READ_ONLY
              value: "{{ .Values.readonly }}"
            - name: AWS_ACCESS_KEY_ID
              value: "{{ .Values.kerberoshub.api.aws.accessKey }}"
            - name: AWS_SECRET_ACCESS_KEY
              value: "{{ .Values.kerberoshub.api.aws.secretKey }}"
            {{- if .Values.kerberoshub.extraEnv }}
            {{- toYaml .Values.kerberoshub.extraEnv | nindent 12 }}
            {{- end }}
