{{- if .Values.kerberoshub.oauth2Proxy.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: oauth2-proxy
  name: oauth2-proxy
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: oauth2-proxy
  template:
    metadata:
      labels:
        k8s-app: oauth2-proxy
    spec:
      containers:
        - args:
            - --provider=github
            - --email-domain=*
            - --upstream=file:///dev/null
            - --http-address=0.0.0.0:4180
          env:
            - name: OAUTH2_PROXY_CLIENT_ID
              value: "{{ .Values.kerberoshub.oauth2Proxy.github.clientId }}"
            - name: OAUTH2_PROXY_CLIENT_SECRET
              value: "{{ .Values.kerberoshub.oauth2Proxy.github.clientSecret }}"
            - name: OAUTH2_PROXY_COOKIE_SECRET
              value: "{{ .Values.kerberoshub.oauth2Proxy.github.cookieSecret }}"
            - name: OAUTH2_PROXY_GITHUB_ORG
              value: "{{ .Values.kerberoshub.oauth2Proxy.github.organization }}"
            - name: OAUTH2_PROXY_GITHUB_TEAM
              value: "{{ .Values.kerberoshub.oauth2Proxy.github.team }}"
          image: quay.io/oauth2-proxy/oauth2-proxy:latest
          imagePullPolicy: Always
          name: oauth2-proxy
          ports:
            - containerPort: 4180
              protocol: TCP
          resources:
            limits:
              cpu: 100m
              memory: 50Mi
            requests:
              cpu: 100m
              memory: 50Mi
---
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: oauth2-proxy
  name: oauth2-proxy
  namespace: kube-system
spec:
  ports:
    - name: http
      port: 4180
      protocol: TCP
      targetPort: 4180
  selector:
    k8s-app: oauth2-proxy
{{- end -}}