apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-monitor-device
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hub-monitor-device
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: hub-monitor-device
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kerberoshub.monitordevice.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-monitor-device
          image: "{{ .Values.kerberoshub.monitordevice.repository }}:{{ .Values.kerberoshub.monitordevice.tag }}"
          imagePullPolicy: {{ .Values.kerberoshub.monitordevice.pullPolicy }}
          {{- with .Values.kerberoshub.monitordevice.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.kerberoshub.monitordevice.volumeMounts}}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            # Mongodb
            - name: MONGODB_DATABASE_CLOUD
              value: "Kerberos"
            - name: MONGODB_HOST
              value: "{{ .Values.mongodb.host }}"
            - name: MONGODB_DATABASE_CREDENTIALS
              value: "{{ .Values.mongodb.adminDatabase }}"
            - name: MONGODB_USERNAME
              value: "{{ .Values.mongodb.username }}"
            - name: MONGODB_PASSWORD
              value: "{{ .Values.mongodb.password }}"

            # Mail settings
            - name: MAIL_PROVIDER
              value: "{{ .Values.email.provider }}"
            - name: EMAIL_FROM
              value: "{{ .Values.email.from }}"
            - name: EMAIL_FROM_DISPLAYNAME
              value: "{{ .Values.email.displayName }}"
              
            # Mail templates
            - name: DEVICE_TEMPLATE
              value: "{{ .Values.email.templates.device }}"
            - name: DEVICE_TITLE
              value: "{{ .Values.email.templates.deviceTitle }}"
              
            # - Plain SMTP
            - name: SMTP_SERVER
              value: "{{ .Values.email.smtp.server }}"
            - name: SMTP_PORT
              value: "{{ .Values.email.smtp.port }}"
            - name: SMTP_USERNAME
              value: "{{ .Values.email.smtp.username }}"
            - name: SMTP_PASSWORD
              value: "{{ .Values.email.smtp.password }}"
          
            # Mailgun
            - name: MAILGUN_DOMAIN
              value: "{{ .Values.email.mailgun.domain }}"
            - name: MAILGUN_API_KEY
              value: "{{ .Values.email.mailgun.apikey }}"

