apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-cleanup
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberoshub.cleanup.replicas }}
  selector:
    matchLabels:
      app: hub-cleanup
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-mongodb.yaml") . | sha256sum }}
      labels:
        app: hub-cleanup
    spec:
      {{- if .Values.kerberoshub.serviceAccount.create }}
      serviceAccountName: {{ .Values.kerberoshub.serviceAccount.name }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-cleanup
          image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberoshub.cleanup.repository }}:{{ .Values.kerberoshub.cleanup.tag }}"
          imagePullPolicy: {{ .Values.kerberoshub.cleanup.pullPolicy }}
          {{- with .Values.kerberoshub.cleanup.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: mongodb-config
          env:
            - name: LOG_LEVEL
              value: "{{ .Values.kerberoshub.cleanup.logLevel }}"
            - name: READ_ONLY
              value: "{{ .Values.readonly }}"
            - name: MAX_DAYS
              value: "{{ .Values.kerberoshub.cleanup.maxDays }}"
          {{- if .Values.kerberoshub.extraEnv }}
          {{- toYaml .Values.kerberoshub.extraEnv | nindent 12 }}
          {{- end }}
