apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-cleanup
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hub-cleanup
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: hub-cleanup
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-cleanup
          image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberoshub.cleanup.repository }}:{{ .Values.kerberoshub.cleanup.tag }}"
          imagePullPolicy: {{ .Values.kerberoshub.cleanup.pullPolicy }}
          {{- with .Values.kerberoshub.cleanup.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
            - name: READ_ONLY
              value: "{{ .Values.readonly }}"
            - name: MAX_DAYS
              value: "{{ .Values.kerberoshub.cleanup.maxDays }}"
            - name: MONGODB_DATABASE_CLOUD
              value: "Kerberos"
            - name: MONGODB_URI
              value: "{{ .Values.mongodb.uri }}"
            - name: MONGODB_HOST
              value: "{{ .Values.mongodb.host }}"
            - name: MONGODB_DATABASE_CREDENTIALS
              value: "{{ .Values.mongodb.adminDatabase }}"
            - name: MONGODB_USERNAME
              value: "{{ .Values.mongodb.username }}"
            - name: MONGODB_PASSWORD
              value: "{{ .Values.mongodb.password }}"

