apiVersion: v1
kind: Service
metadata:
  name: hub-api-svc
  namespace: {{ .Release.Namespace }}
  labels:
    app: hub-api-svc
spec:
  ports:
    - port: 80
      targetPort: 80
      name: frontend
      protocol: TCP
    - port: 8081
      name: backend
      targetPort: 8081
      protocol: TCP
  selector:
    app: hub-api
{{ if ne .Values.ingress "" }}
---
{{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
apiVersion: networking.k8s.io/v1
{{ else }}
apiVersion: networking.k8s.io/v1beta1
{{ end }}
kind: Ingress
metadata:
  name: hub-api-ingress
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- if eq .Values.ingress "nginx" }}
    kubernetes.io/tls-acme: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: 200m # This might throw a 413 Entity Too Large when uploading large recordings.
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress }}
  {{- with .Values.kerberoshub.api.tls }}
  tls:
    {{- toYaml . | nindent 8 }}
  {{- end }}

  {{ if .Capabilities.APIVersions.Has "networking.k8s.io/v1" }}
  rules:
    - host: "{{ .Values.kerberoshub.api.url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hub-api-svc
                port:
                  number: 8081
    {{- if .Values.kerberoshub.api.legacyUrl }}
    - host: "{{ .Values.kerberoshub.api.legacyUrl }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hub-api-svc
                port:
                  number: 8081
    {{- end }}
    - host: "admin.{{ .Values.kerberoshub.api.url }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: hub-api-svc
                port:
                  number: 80
  {{ else }}
    rules:
    - host: "{{ .Values.kerberoshub.api.url }}"
      http:
        paths:
          - path: /
            backend:
              serviceName: hub-api-svc
              servicePort: 8081
    {{- if .Values.kerberoshub.api.legacyUrl }}
    - host: "{{ .Values.kerberoshub.api.legacyUrl }}"
      http:
        paths:
          - path: /
            backend:
              serviceName: hub-api-svc
              servicePort: 8081
    {{- end }}
  {{ end }}
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hub-api
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberoshub.api.replicas }}
  selector:
    matchLabels:
      app: hub-api
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      annotations:
        checksum/config-mongodb: {{ include (print $.Template.BasePath "/configmap-mongodb.yaml") . | sha256sum }}
      labels:
        app: hub-api
    spec:
      {{- if .Values.kerberoshub.serviceAccount.create }}
      serviceAccountName: {{ .Values.kerberoshub.serviceAccount.name }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kerberoshub.api.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: hub-api
          image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberoshub.api.repository }}:{{ .Values.kerberoshub.api.tag }}"
          imagePullPolicy: {{ .Values.kerberoshub.api.pullPolicy }}
          {{- with .Values.kerberoshub.api.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: 80
              name: http
          {{- with .Values.kerberoshub.api.volumeMounts}}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}          
          # Mongodb - loaded from ConfigMap
          envFrom:
            - configMapRef:
                name: mongodb-config
          env:
            - name: ENVIRONMENT
              value: "{{ .Values.environment }}"
            - name: READ_ONLY
              value: "{{ .Values.readOnly }}"
            - name: LOG_LEVEL
              value: "{{ .Values.kerberoshub.api.logLevel }}"
            - name: SUPPORT_ENABLED
              value: "{{ .Values.kerberoshub.support.enabled }}"
            - name: CLOUD_API_URL
              value: "{{ .Values.kerberoshub.api.url }}"
            - name: API_URL
              value: "{{ .Values.kerberoshub.api.schema }}://{{ .Values.kerberoshub.api.url }}"
            - name: PUBLIC_URL
              value: "{{ .Values.kerberoshub.frontend.schema }}://{{ .Values.kerberoshub.frontend.url }}"
            {{ if .Values.isPrivate }}
            - name: KERBEROS_PRIVATE_CLOUD
              value: "true"
            {{ else }}
            - name: KERBEROS_PRIVATE_CLOUD
              value: "false"
            {{ end }}
            - name: KERBEROS_LANGUAGE
              value: "{{ .Values.kerberoshub.api.language }}"
            - name: KERBEROS_FALLBACK_LANGUAGE
              value: "{{ .Values.kerberoshub.api.fallbackLanguage }}"
            - name: API_KEY
              value: "{{ .Values.kerberoshub.api.apiKey }}"

            # Kerberos Hub
            - name: LICENSE_KEY
              value: "{{ .Values.license }}"
            - name: LICENSE_API_URL
              value: "{{ .Values.licenseServer.url }}"
            - name: LICENSE_PUBLIC_API_TOKEN
              value: "{{ .Values.licenseServer.token }}"

            # Authorization - Authentication secret
            - name: KERBEROS_JWT_SECRET
              value: "{{ .Values.kerberoshub.api.jwtSecret }}"

            # SSO (OIDC) setup
            - name: SSO_DOMAINS
              value:  "{{- range .Values.kerberoshub.api.sso }}{{ .domain }};{{- end }}"
            - name: SSO_REDIRECTURLS
              value: "{{- range .Values.kerberoshub.api.sso }}{{ .redirectUrl }};{{- end }}"
            - name: SSO_CLAIMIDS
              value:  "{{- range .Values.kerberoshub.api.sso }}{{ .claimId }};{{- end }}"
            - name: SSO_ISSUERS
              value:  "{{- range .Values.kerberoshub.api.sso }}{{ .issuer }};{{- end }}"
            - name: SSO_CLIENTIDS
              value: "{{- range .Values.kerberoshub.api.sso }}{{ .clientId }};{{- end }}"
            - name: SSO_CLIENTSECRETS
              value: "{{- range .Values.kerberoshub.api.sso }}{{ .clientSecret }};{{- end }}"
            - name: SSO_CLIENTVERIFICATIONIDS
              value: "{{- range .Values.kerberoshub.api.sso }}{{ .clientVerificationId }};{{- end }}"
            - name: SSO_FORCE_SSO
              value: "{{- range .Values.kerberoshub.api.sso }}{{ .forceSSO }};{{- end }}"
            - name: SSO_EXTRA_HEADERS
              value: "{{- range .Values.kerberoshub.api.sso }}{{- if .extraHeaders }}{{- range .extraHeaders }}{{ .name }}:{{ .value }};{{- end }}{{- else }}{{- end }}*{{- end }}"

            # Kerberos pipeline
            - name: QUEUE_SYSTEM
              value: "{{ .Values.queueProvider }}"
            - name: QUEUE_NAME
              value: "{{ .Values.queueName }}"

            # Stripe for billing
            - name: STRIPE_KEY
              value: "{{ .Values.kerberoshub.api.stripe.privateKey }}"

            # OpenAI
            - name: OPENAI_API_KEY
              value: "{{ .Values.openai.apikey }}"

            # MFA Issuer name (Will be shown when scanning in)
            - name: MFA_ISSUER
              value: "{{ .Values.kerberoshub.api.mfaIssuer }}"

            # AWS (Legacy, use Kerberos Vault instead)
            - name: AWS_REGION
              value: "{{ .Values.kerberoshub.api.aws.region }}"
            - name: AWS_S3_BUCKET
              value: "{{ .Values.kerberoshub.api.aws.bucket }}"
            - name: AWS_ACCESS_KEY_ID
              value: "{{ .Values.kerberoshub.api.aws.accessKey }}"
            - name: AWS_SECRET_ACCESS_KEY
              value: "{{ .Values.kerberoshub.api.aws.secretKey }}"

            # Kerberos Vault (Main instance, within Kerberos Hub you can assign additional Vaults to sites).
            - name: STORAGE_URI
              value: "{{ .Values.kerberosvault.uri }}"
            - name: STORAGE_ACCESS_KEY
              value: "{{ .Values.kerberosvault.accesskey }}"
            - name: STORAGE_SECRET_KEY
              value: "{{ .Values.kerberosvault.secretkey }}"

            # Kerberos Vault: archiving credentials. When creating a task, the underlying recording will be
            # copied to this storage provider, using the specific account credentials, for deletion/retention.
            - name: STORAGE_ARCHIVE_PROVIDER
              value: "{{ .Values.kerberosvault.archive.provider }}"
            - name: STORAGE_ARCHIVE_ACCESS_KEY
              value: "{{ .Values.kerberosvault.archive.accesskey }}"
            - name: STORAGE_ARCHIVE_SECRET_KEY
              value: "{{ .Values.kerberosvault.archive.secretkey }}"

            # Kafka settings
            - name: KAFKA_BROKER
              value: "{{ .Values.kafka.broker }}"
            - name: KAFKA_USERNAME
              value: "{{ .Values.kafka.username }}"
            - name: KAFKA_PASSWORD
              value: "{{ .Values.kafka.password }}"
            - name: KAFKA_MECHANISM
              value: "{{ .Values.kafka.mechanism }}"
            - name: KAFKA_SECURITY
              value: "{{ .Values.kafka.security }}"

            # RabbitMQ settings
            - name: RABBITMQ_HOST
              value: "{{ .Values.rabbitmq.host }}"
            - name: RABBITMQ_EXCHANGE
              value: "{{ .Values.rabbitmq.exchange }}"
            - name: RABBITMQ_USERNAME
              value: "{{ .Values.rabbitmq.username }}"
            - name: RABBITMQ_PASSWORD
              value: "{{ .Values.rabbitmq.password }}"

            # Slack notifications (this will send events/logs to a specific channel).
            - name: SLACK_ENABLED
              value: "{{ .Values.kerberoshub.api.slack.enabled }}"
            - name: SLACK_HOOK
              value: "{{ .Values.kerberoshub.api.slack.hook }}"
            - name: SLACK_USERNAME
              value: "{{ .Values.kerberoshub.api.slack.username }}"

            # Mail settings
            - name: MAIL_PROVIDER
              value: "{{ .Values.email.provider }}"
            - name: EMAIL_FROM
              value: "{{ .Values.email.from }}"
            - name: EMAIL_FROM_DISPLAYNAME
              value: "{{ .Values.email.displayName }}"

            # Mail templates
            - name: WELCOME_TEMPLATE
              value: "{{ .Values.email.templates.welcome }}"
            - name: WELCOME_TITLE
              value: "{{ .Values.email.templates.welcomeTitle }}"
            - name: ACTIVATE_TEMPLATE
              value: "{{ .Values.email.templates.activate }}"
            - name: ACTIVATE_TITLE
              value: "{{ .Values.email.templates.activateTitle }}"
            - name: FORGOT_TEMPLATE
              value: "{{ .Values.email.templates.forgot }}"
            - name: FORGOT_TITLE
              value: "{{ .Values.email.templates.forgotTitle }}"
            - name: SHARE_TEMPLATE
              value: "{{ .Values.email.templates.share }}"
            - name: SHARE_TITLE
              value: "{{ .Values.email.templates.shareTitle }}"
            - name: ASSIGN_TASK_TEMPLATE
              value: "{{ .Values.email.templates.assignTask }}"
            - name: ASSIGN_TASK_TITLE
              value: "{{ .Values.email.templates.assignTaskTitle }}"

            # SMTP
            - name: SMTP_SERVER
              value: "{{ .Values.email.smtp.server }}"
            - name: SMTP_PORT
              value: "{{ .Values.email.smtp.port }}"
            - name: SMTP_USERNAME
              value: "{{ .Values.email.smtp.username }}"
            - name: SMTP_PASSWORD
              value: "{{ .Values.email.smtp.password }}"

            # Mailgun
            - name: MAILGUN_DOMAIN
              value: "{{ .Values.email.mailgun.domain }}"
            - name: MAILGUN_API_KEY
              value: "{{ .Values.email.mailgun.apikey }}"

            # There is an option to store the thumbnails in a storage provider in Kerberos Vault.
            # This will lower storage in mongodb.
            - name: THUMBNAIL_VAULT_ENABLED
              value: "{{ .Values.kerberospipeline.thumbnail.kerberosvault.enabled }}"
            - name: VAULT_THUMBNAIL_PROVIDER
              value: "{{ .Values.kerberosvault.thumbnail.provider }}"
            - name: VAULT_THUMBNAIL_ACCESS_KEY
              value: "{{ .Values.kerberosvault.thumbnail.accessKey }}"
            - name: VAULT_THUMBNAIL_SECRET_KEY
              value: "{{ .Values.kerberosvault.thumbnail.secretKey }}"

            # There is an option to store the sprites in a storage provider in Kerberos Vault.
            - name: VAULT_SPRITE_ENABLED
              value: "{{ .Values.kerberospipeline.sprite.enabled }}"
            - name: VAULT_SPRITE_PROVIDER
              value: "{{ .Values.kerberosvault.sprite.provider }}"
            - name: VAULT_SPRITE_ACCESS_KEY
              value: "{{ .Values.kerberosvault.sprite.accessKey }}"
            - name: VAULT_SPRITE_SECRET_KEY
              value: "{{ .Values.kerberosvault.sprite.secretKey }}"
            - name: VAULT_SPRITE_INTERVAL
              value: "{{ .Values.kerberosvault.sprite.interval }}"
            - name: VAULT_SPRITE_WIDTH
              value: "{{ .Values.kerberosvault.sprite.width }}"
            - name: VAULT_SPRITE_HEIGHT
              value: "{{ .Values.kerberosvault.sprite.height }}"
            {{- if .Values.kerberoshub.extraEnv }}
            {{- toYaml .Values.kerberoshub.extraEnv | nindent 12 }}
            {{- end }}

            # Open Telemetry tracing
            - name: OTEL_EXPORTED_OTLP_ENABLED
              value: "{{ .Values.opentelemetry.enabled }}"
            - name: OTEL_EXPORTED_OTLP_ROUTING_ENABLED
              value: "{{ .Values.opentelemetry.routingEnabled }}"
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "{{ .Values.opentelemetry.collector.endpoint }}"
