apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipe-monitor
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberospipeline.monitor.replicas }}
  selector:
    matchLabels:
      app: pipe-monitor
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: pipe-monitor
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: pipe-monitor
        image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberospipeline.monitor.repository }}:{{ .Values.kerberospipeline.monitor.tag }}"
        imagePullPolicy: {{ .Values.kerberospipeline.monitor.pullPolicy }}
        {{- with .Values.kerberospipeline.monitor.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        env:
        # Database
        - name: MONGODB_URI
          value: "{{ .Values.mongodb.uri }}"
        - name: MONGODB_HOST
          value: "{{ .Values.mongodb.host }}"
        - name: MONGODB_DATABASE_CREDENTIALS
          value: "{{ .Values.mongodb.adminDatabase }}"
        - name: MONGODB_USERNAME
          value: "{{ .Values.mongodb.username }}"
        - name: MONGODB_PASSWORD
          value: "{{ .Values.mongodb.password }}"
  
        # Queue      
        - name: QUEUE_SYSTEM
          value: "{{ .Values.queueProvider }}"
          
        # Kafka settings
        - name: KAFKA_BROKER
          value: "{{ .Values.kafka.broker }}"
        - name: KAFKA_USERNAME
          value: "{{ .Values.kafka.username }}"
        - name: KAFKA_PASSWORD
          value: "{{ .Values.kafka.password }}"
        - name: KAFKA_MECHANISM
          value: "{{ .Values.kafka.mechanism }}"
        - name: KAFKA_SECURITY
          value: "{{ .Values.kafka.security }}"

        # RabbitMQ settings
        - name: RABBITMQ_HOST
          value: "{{ .Values.rabbitmq.host }}"
        - name: RABBITMQ_EXCHANGE
          value: "{{ .Values.rabbitmq.exchange }}"
        - name: RABBITMQ_USERNAME
          value: "{{ .Values.rabbitmq.username }}"
        - name: RABBITMQ_PASSWORD
          value: "{{ .Values.rabbitmq.password }}"

        # Mail settings
        - name: MAIL_PROVIDER
          value: "{{ .Values.email.provider }}"
        - name: EMAIL_FROM
          value: "{{ .Values.email.from }}"
        - name: EMAIL_FROM_DISPLAYNAME
          value: "{{ .Values.email.displayName }}"
          
        # Mail templates
        - name: DISABLED_TEMPLATE
          value: "{{ .Values.email.templates.disabled }}"
        - name: HIGHUPLOAD_TEMPLATE
          value: "{{ .Values.email.templates.highupload }}"

        # SMTP
        - name: SMTP_SERVER
          value: "{{ .Values.email.smtp.server }}"
        - name: SMTP_PORT
          value: "{{ .Values.email.smtp.port }}"
        - name: SMTP_USERNAME
          value: "{{ .Values.email.smtp.username }}"
        - name: SMTP_PASSWORD
          value: "{{ .Values.email.smtp.password }}"
---
apiVersion: v1
kind: Service
metadata:
  name: pipe-monitor
  namespace: {{ .Release.Namespace }}
  labels:
    app: pipe-monitor
    service: pipe
spec:
  ports:
    - name: hub-metrics
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: pipe-monitor