apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipe-thumbnail
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberospipeline.thumbnail.replicas }}
  selector:
    matchLabels:
      app: pipe-thumbnail
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: pipe-thumbnail
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: pipe-thumbnail
        image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberospipeline.thumbnail.repository }}:{{ .Values.kerberospipeline.thumbnail.tag }}"
        imagePullPolicy: {{ .Values.kerberospipeline.thumbnail.pullPolicy }}
        {{- with .Values.kerberospipeline.thumbnail.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        env:
        {{ if .Values.isPrivate }}
        - name: KERBEROS_PRIVATE_CLOUD
          value: "true"
        {{ else }}
        - name: KERBEROS_PRIVATE_CLOUD
          value: "false"
        {{ end }}
        - name: CLOUD_PROVIDER
          value: "{{ .Values.cloudProvider }}"
        - name: QUEUE_SYSTEM
          value: "{{ .Values.queueProvider }}"

        # Kafka settings
        - name: KAFKA_BROKER
          value: "{{ .Values.kafka.broker }}"
        - name: KAFKA_USERNAME
          value: "{{ .Values.kafka.username }}"
        - name: KAFKA_PASSWORD
          value: "{{ .Values.kafka.password }}"
        - name: KAFKA_MECHANISM
          value: "{{ .Values.kafka.mechanism }}"
        - name: KAFKA_SECURITY
          value: "{{ .Values.kafka.security }}"

        # RabbitMQ settings
        - name: RABBITMQ_HOST
          value: "{{ .Values.rabbitmq.host }}"
        - name: RABBITMQ_EXCHANGE
          value: "{{ .Values.rabbitmq.exchange }}"
        - name: RABBITMQ_USERNAME
          value: "{{ .Values.rabbitmq.username }}"
        - name: RABBITMQ_PASSWORD
          value: "{{ .Values.rabbitmq.password }}"

        # Thumbnail generation
        - name: THUMBNAIL_QUALITY
          value: "{{ .Values.kerberospipeline.thumbnail.quality }}"
        - name: THUMBNAIL_WIDTH
          value: "{{ .Values.kerberospipeline.thumbnail.width }}"
        - name: THUMBNAIL_HEIGHT
          value: "{{ .Values.kerberospipeline.thumbnail.height }}"

        # There is an option to store the thumbnails in a storage provider in Kerberos Vault.
        # This will lower storage in mongodb.
        - name: THUMBNAIL_VAULT_ENABLED
          value: "{{ .Values.kerberospipeline.thumbnail.kerberosvault.enabled }}"
        - name: VAULT_THUMBNAIL_PROVIDER
          value: "{{ .Values.kerberosvault.thumbnail.provider }}"
        - name: VAULT_THUMBNAIL_ACCESS_KEY
          value: "{{ .Values.kerberosvault.thumbnail.accessKey }}"
        - name: VAULT_THUMBNAIL_SECRET_KEY
          value: "{{ .Values.kerberosvault.thumbnail.secretKey }}"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: pipe-thumbnail
    service: pipe
  name: pipe-thumbnail
spec:
  ports:
    - name: hub-metrics
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: pipe-thumbnail