apiVersion: apps/v1
kind: Deployment
metadata:
  name: pipe-notify
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.kerberospipeline.notify.replicas }}
  selector:
    matchLabels:
      app: pipe-notify
  minReadySeconds: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap-mongodb.yaml") . | sha256sum }}
      labels:
        app: pipe-notify
    spec:
      {{- if .Values.kerberoshub.serviceAccount.create }}
      serviceAccountName: {{ .Values.kerberoshub.serviceAccount.name }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.kerberospipeline.notify.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: pipe-notify
        image: "{{ .Values.global.imageRegistry }}{{ .Values.kerberospipeline.notify.repository }}:{{ .Values.kerberospipeline.notify.tag }}"
        imagePullPolicy: {{ .Values.kerberospipeline.notify.pullPolicy }}
        {{- with .Values.kerberospipeline.notify.resources }}
        resources:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        {{- with .Values.kerberospipeline.notify.volumeMounts}}
        volumeMounts:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        envFrom:
        - configMapRef:
            name: mongodb-config
        env:
        - name: LOG_LEVEL
          value: "{{ .Values.kerberospipeline.notify.logLevel }}"
        # Queue
        - name: QUEUE_SYSTEM
          value: "{{ .Values.queueProvider }}"

        # Kafka settings
        - name: KAFKA_BROKER
          value: "{{ .Values.kafka.broker }}"
        - name: KAFKA_USERNAME
          value: "{{ .Values.kafka.username }}"
        - name: KAFKA_PASSWORD
          value: "{{ .Values.kafka.password }}"
        - name: KAFKA_MECHANISM
          value: "{{ .Values.kafka.mechanism }}"
        - name: KAFKA_SECURITY
          value: "{{ .Values.kafka.security }}"

        # RabbitMQ settings
        - name: RABBITMQ_HOST
          value: "{{ .Values.rabbitmq.host }}"
        - name: RABBITMQ_EXCHANGE
          value: "{{ .Values.rabbitmq.exchange }}"
        - name: RABBITMQ_USERNAME
          value: "{{ .Values.rabbitmq.username }}"
        - name: RABBITMQ_PASSWORD
          value: "{{ .Values.rabbitmq.password }}"

        # Kerberos Vault
        - name: STORAGE_URI
          value: "{{ .Values.kerberosvault.uri }}"
        - name: STORAGE_ACCESS_KEY
          value: "{{ .Values.kerberosvault.accesskey }}"
        - name: STORAGE_SECRET_KEY
          value: "{{ .Values.kerberosvault.secretkey }}"

        # Mail settings
        - name: MAIL_PROVIDER
          value: "{{ .Values.email.provider }}"
        - name: EMAIL_FROM
          value: "{{ .Values.email.from }}"
        - name: EMAIL_FROM_DISPLAYNAME
          value: "{{ .Values.email.displayName }}"
          
        # Mail templates 
        - name: DETECT_TEMPLATE
          value: "{{ .Values.email.templates.detection }}"
        - name: ALERT_TITLE
          value: "{{ .Values.email.templates.alertTitle }}"

        # SMTP
        - name: SMTP_SERVER
          value: "{{ .Values.email.smtp.server }}"
        - name: SMTP_PORT
          value: "{{ .Values.email.smtp.port }}"
        - name: SMTP_USERNAME
          value: "{{ .Values.email.smtp.username }}"
        - name: SMTP_PASSWORD
          value: "{{ .Values.email.smtp.password }}"
          
        # Mailgun
        - name: MAILGUN_DOMAIN
          value: "{{ .Values.email.mailgun.domain }}"
        - name: MAILGUN_API_KEY
          value: "{{ .Values.email.mailgun.apikey }}"

        # There is an option to store the thumbnails in a storage provider in Kerberos Vault.
        # This will lower storage in mongodb.
        - name: THUMBNAIL_VAULT_ENABLED
          value: "{{ .Values.kerberospipeline.thumbnail.kerberosvault.enabled }}"
        - name: VAULT_THUMBNAIL_PROVIDER
          value: "{{ .Values.kerberosvault.thumbnail.provider }}"
        - name: VAULT_THUMBNAIL_ACCESS_KEY
          value: "{{ .Values.kerberosvault.thumbnail.accessKey }}"
        - name: VAULT_THUMBNAIL_SECRET_KEY
          value: "{{ .Values.kerberosvault.thumbnail.secretKey }}"
      
        # There is an option to store the sprites in a storage provider in Kerberos Vault.
        - name: VAULT_SPRITE_ENABLED
          value: "{{ .Values.kerberospipeline.sprite.enabled }}"
        - name: VAULT_SPRITE_PROVIDER
          value: "{{ .Values.kerberosvault.sprite.provider }}"
        - name: VAULT_SPRITE_ACCESS_KEY
          value: "{{ .Values.kerberosvault.sprite.accessKey }}"
        - name: VAULT_SPRITE_SECRET_KEY
          value: "{{ .Values.kerberosvault.sprite.secretKey }}"
        
        # Open Telemetry tracing
        - name: OTEL_EXPORTED_OTLP_ENABLED
          value: "{{ .Values.opentelemetry.enabled }}"
        - name: OTEL_EXPORTED_OTLP_ROUTING_ENABLED
          value: "{{ .Values.opentelemetry.routingEnabled }}"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "{{ .Values.opentelemetry.collector.endpoint }}"
---
apiVersion: v1
kind: Service
metadata:
  name: pipe-notify
  namespace: {{ .Release.Namespace }}
  labels:
    app: pipe-notify
    service: pipe
spec:
  ports:
    - name: hub-metrics
      port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: pipe-notify